body {
    text-align: center;
    margin: 0px;
    padding: 0px;;
}

#form {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 20px;
    text-align: center;
    background-color: rgb(79, 130, 172);
    color: white;
    font-size: 20px;
    text-align: left;
    
  }
  
.newBook {

    width: 200px;
    border: 2px solid black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, black 16%,tan 16%);
    overflow-wrap: break-word;
    display: flex;
   
}

.remove {
    width: 90px;
    align-self: center;
    padding: 5px;
    margin-top: 25px;
    margin-left: 30px;
    text-align: center;
    font-size: 15px;
    background-color: rgb(241, 105, 105);
    margin-bottom: 30px;
    
    
    
    
}

.greenButton {
    width: 90px;
    align-self: center;
    padding: 5px;
    margin-top: 25px;
    margin-left: 30px;
    text-align: center;
    font-size: 15px;
    background-color: lightgreen;
}

.redButton {
    width: 90px;
    align-self: center;
    padding: 5px;
    margin-top: 25px;
    margin-left: 30px;
    text-align: center;
    font-size: 15px;
    background-color: rgb(228, 218, 81);
}

.books {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    


}

.addBook {
    margin: 40px;
    height: 60px;
    width: 100px;
}

.bookContainer {
    margin: 30px;
}

.bookData {
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    
   
}

.container {
    display: flex;
    border: 2px solid black;
}

.textInput {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;
    font-size: 20px;
}

input[type=checkbox] {
    align-self: center;
}

.bookInfo{
    font-size: 20px;
    margin-top: 12px;
    margin-left: 40px;

    
}

.btn {
    width: 120px;
    height: 60px;
    align-self: center;
    background-color: lightgreen;
    
}

